@use '../abstract/variaveis';
@use '../abstract/mixins';

header { 
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        padding-top: 40px;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-color(variaveis.$ft-textos, 1 rem, variaveis.$cor-primaria);
                font-weight: 500;
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            max-width: 464px;
            
            h1 {
                @include mixins.ff-fs-color(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);
                margin-bottom: 2rem;
                

                span {
                    color: variaveis.$cor-secundaria;
                }
            }

            .btn-main {
                border: none;
                border-radius: 66px;
                outline: none;
                width: 280px;
                height: 66px;
                background-color: variaveis.$cor-secundaria;
                @include mixins.ff-fs-color(variaveis.$ft-titulos, 1rem, #FFF);
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
            }
        }
    }
}